.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.list-item {
    width: 25%;
}

.list-item-content {
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.list-item img {
    width: 100%;
}

.list-item-content-description {
    padding: 2px 10px;
}