<div class="user">
    <div class="header">
        <img src="http://placeimg.com/640/480/animals?v={{userId}}" alt="{{user?.name}} {{user?.lastName}}">
        <fieldset class="left-info">
            <legend>Info</legend>
            <div>
                <strong>{{user?.prefix}} {{user?.name}} {{user?.lastName}}</strong>
            </div>
            <div>
                <i>{{user?.title}}</i>
            </div>
            <br>
            <div>
                <span>email</span>: {{user?.email}}
            </div>
            <div>
                <span>ip address</span>: {{user?.ip}}
            </div>
            <div>
                <span>job descriptor</span>: {{user?.jobDescriptor}}
            </div>
            <div>
                <span>job area</span>: {{user?.jobArea}}
            </div>
            <div>
                <span>job type</span>: {{user?.jobType}}
            </div>
        </fieldset>
        <fieldset class="right-info">
            <legend>Address</legend>
            <div>
                <strong>{{user?.company.name}} {{user?.company.suffix}}</strong>
            </div>
            <div>
                <span>city</span>: {{user?.address.city}}
            </div>
            <div>
                <span>country</span>: {{user?.address.country}}
            </div>
            <div>
                <span>state</span>: {{user?.address.state}}
            </div>
            <div>
                <span>street adress</span>: {{user?.address.streetAddress}}
            </div>
            <div>
                <span>ZIP</span>: {{user?.address.zipCode}}
            </div>
        </fieldset>
    </div>
    <div>
        <h2 style="margin-left: 10px;">Friends:</h2>
        <div class="users">
            <div class="list">
                <div class="list-item" *ngFor="let friend of friends; index as i">
                    <div class="list-item-content" (click)="onSelect(friend)">
                        <img src="http://placeimg.com/640/480/animals?v={{friend.id}}" alt="{{friend.name}} {{friend.lastName}}">
                        <div class="list-item-content-description">
                            <strong>{{friend.prefix}} {{friend.name}} {{friend.lastName}}</strong>
                        </div>
                        <div class="list-item-content-description">
                            {{friend.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>